html {
    font-size: 16px;
    /* Grundstorleken som rem-storlekar på resten av sidan kan använda */
}

body {
    /* Ta bort alla marginaler och paddings på body-elementet */
    margin: 0;
    padding: 0;

    /* Sätta vilket typsnitt som ska användas på sidan, kan även läggas på individuella element */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Typografi */
h1 {
    /* Sätter teckenstorleken till värdet på html-taggen gånger, i det här fallet, två */
    font-size: 2rem;

    /* Sätter tjockleken på texten */
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
}

.bold {
    font-weight: 600;
}

img {
    /* Används för att bilden inte ska tränga utanför sitt förälderelement */
    max-width: 100%;
}

.container {
    /* 
    Detta används för att positionera elementet i mitten av sin förälder. 
    Marginalen blir enligt formeln (förälderns bredd - detta elements bredd) / 2 
    */
    width: 800px;
    margin: 0 auto;
}


.header {
    /* Sätter bakgrundsfärgen. Både hex (#aabbcc) och rgb-värden (rgb(0,0,0)) kan användas */
    background-color: #c0c0c0;

    /* Sätter elementet till att alltid behålla sin position på sidan 
    */
    position: fixed;

    /* Sätter sätter positionen till att ligga i toppen 
    */
    top: 0;

    /* Sätter bredden till 100% 
    */
    width: 100%;

    /* Sorterar elementet högre upp/över andra element med lägre z-index 
    */
    z-index: 10;
}

.header ul {
    /* Tar bort prickarna på listan samt marginaler 
    */
    list-style: none; 
    padding: 0;
    margin: 0;

    /* 
    Anger att alla barnelement som standard skall renderas bredvid varandra. 
    Detta kan sedan ändra värdet på egenskapen flex-direction
    */
 
    display: flex;
}

/* :last-of-type används för att välja det sista förekommande elementet av en viss typ */
.header li:last-of-type {
    /* Sätter vänstermarginalen på elementet till att ta upp allt utrymme som finns kvar */
    margin-left: auto;
}

/* I fallet nedan så ändras bakgrundefärgen om ett li-element också har klassen active */
.header li.active a {
    background-color: #666;
}

.header a {
    color: black;
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
}

/* :hover används för att känna av när användaren för musen över ett element */
.header a:hover {
    text-decoration: underline;
    background-color: #9c9c9c;
}

.main-wrapper {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 4rem;
}

.footer {
    background-color: #c0c0c0;
    height: 100px;
    margin-top: 32px;
    position: relative;
    float: left;
    width: 100%;
}